.heading {
    margin: 15px;
    padding: 15px;
}

#location-form {
    margin: 5px;
}

#btn {
    width: 15%;
    height: 8%;
}

#weatherheading {
    display: none;
    margin: 15px;
    margin-top: 45px;
    padding: 15px;
}

.weather{
    font-size: 22px;
    margin: 0;
}
.temp{
    font-size: 60px;
    margin: 0;
    font-weight: bold;
}

label {
    padding: 5px;
}

#mapbtn {
    display: none;
    margin: 15px;
    margin-top: 35px;
    padding: 15px;
}

#aqiheading {
    margin: 25px;
    margin-top: 45px;
    display: none;
}

#aqipara {
    color: red;
}

#aqiparameter,
#aqireport,
#aqialert {
    padding: 5px;
}

#map {
    height: 400px;
    width: 100%;
}

#mapHeading {
    margin: 25px;
    margin-top: 45px;
    display: none;
}

